
        *{
            margin: 0px;
            padding: 0px;
        }
        html,body{  
            height: 100%;
            display:grid;
        }
        .form-design{
            margin:auto;
            width: 400px;
            text-align: center;
        }   
        .form-design .heading{
            background-image: linear-gradient(to right,rgb(16, 72, 106),rgb(6, 196, 238));
            margin-bottom: 30px;
            color: white;
            font-family: 'montserrat', sans-serif;
            font-weight: 700;
            padding:10px 0px;
        }
        .form-design .text{
            border-bottom: 1px solid;
            margin-bottom: 30px;     
        }
        .form-design .text input{
            width:100%;
            border:none;
        }
        .form-design .text input:focus{
            outline:none
        }
        .form-design .buttons input{
            background-image: linear-gradient(to right,rgb(16, 72, 106),rgb(6, 196, 238));
            width:100%;
            margin-bottom: 10px;
            padding: 5px;
            color: white;
            font-family: 'montserrat', sans-serif;
            font-weight: 700;
            border:none;
        }        
        .form-design .buttons input:hover{
            cursor: pointer;
        }
        section a{
            text-decoration: none;
        }